/* CSS Reset */
* {
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* border: 1px solid grey; */
}

/* GENERAL STYLING & OVERALL STRUCTURE */
h1 {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: sans-serif;
}

.App h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.Apod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 1% 0;
}

.date {
  margin-bottom: 2%;
}

/* REST OF STYLING COMES FROM STYLED COMPONENTS */